{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "react/no-deprecated": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-unknown-property": 1,
    "react/prefer-stateless-function": 0,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/jsx-equals-spacing": [
      1,
      "never"
    ],
    "react/jsx-indent": [
      1,
      2
    ],
    "react/jsx-indent-props": [
      1,
      1
    ],
    "react/jsx-key": 1,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-space-before-closing": [
      1,
      "always"
    ],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 2,
    "no-console": 0,
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      1,
      "double"
    ],
    "no-unused-vars": 1
  },
  "plugins": [
    "react",
    "import",
    "react-native"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    },
    "import/ignore": [
      "\\.scss$",
      "node_modules",
      "\\.json$"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          "ios.js"
        ]
      }
    }
  },
  "globals": {
    "__DEV__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  }
}