<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224232150692-qqhr09bmdpr06m9dg45363aqhfq5sala.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300830567303-pcqea6pbhvqb03i1v4ol7dsqnjcgad6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224232150692-qqhr09bmdpr06m9dg45363aqhfq5sala.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_iWEZ_68tg7Jr_hRoEZYv_Z0AiAcYYk</string>
	<key>GCM_SENDER_ID</key>
	<string>300830567303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.userapp1</string>
	<key>PROJECT_ID</key>
	<string>athlete-physics</string>
	<key>STORAGE_BUCKET</key>
	<string>athlete-physics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224232150692:ios:f46b808b0bcd5745</string>
	<key>DATABASE_URL</key>
	<string>https://athlete-physics.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8123415297019784~1001342552</string>
</dict>
</plist>
